/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(133, 133, 133);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.664);
  cursor: pointer;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  line-height: 1.6;
  background-color: #ebebeb;
  font-size: 1.5rem;
  font-family: "Roboto", "Arial", sans-serif;
}

.container {
  width: 100%;
  max-width: 1252px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  background-color: #6b6b6b;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
}
.header ul li:not(:last-child) {
  margin-right: 4rem;
}
.header ul a {
  color: #ffffff;
}

.main {
  flex-grow: 1;
}

.hero {
  color: #000000;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6.7rem;
  padding-left: 1.44rem;
  padding-right: 1.44rem;
}
.hero__info {
  width: 576px;
  margin-right: 15.4rem;
}
.hero__title {
  font-size: 3.9rem;
  font-weight: 400;
  line-height: 45px;
  color: #333333;
  margin-bottom: 1.1rem;
}
.hero__descriprion {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin-bottom: 3rem;
}
.hero__btn {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1.5rem 2.5rem;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}
.hero .hero__image-container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .hero__img {
  box-shadow: 0px, 20px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.hero .hero__text {
  font-size: 1.3rem;
  font-weight: 400;
  opacity: 50%;
  line-height: 21px;
  margin-top: 23px;
  margin-bottom: 74px;
}

.partniors {
  background-color: #d3d3d3;
}
.partniors__container {
  padding: 5rem 0;
}
.partniors__list {
  display: flex;
  align-items: center;
  gap: 6.7rem;
}

.class {
  background-color: #ffffff;
  color: #000000;
  padding-top: 5rem;
  padding-bottom: 7.2rem;
}
.class ul {
  display: flex;
  gap: 2.6rem;
  flex-direction: column;
}
.class ul li {
  display: flex;
  gap: 18.8rem;
  align-items: center;
}
.class__info {
  width: 510px;
}
.class__title {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 1.4rem;
}
.class__description {
  font-size: 15px;
  line-height: 24px;
}
.class__img {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.class .img-shadow {
  box-shadow: 25px 25px 55px rgba(128, 125, 125, 0.57);
}
.class__img--descrip {
  font-size: 12px;
  line-height: 21px;
  color: #777777;
}

.layout {
  background-color: #ebebeb;
  color: #333333;
}
.layout__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 8.9rem;
  padding-bottom: 8rem;
  padding-left: 14.4rem;
  padding-right: 14.4rem;
}
.layout__title {
  font-size: 3.1rem;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-bottom: 1.1rem;
}
.layout__description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.layout__wrapper {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
}
.layout__image {
  width: 240px;
  height: 98px;
  margin-bottom: 2rem;
  box-shadow: 0px, 20px rgba(0, 0, 0, 0.2);
}
.layout__text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #777777;
  margin-bottom: 5rem;
}
.layout__info {
  display: flex;
  justify-content: center;
}
.layout__list {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  justify-content: center;
}
.layout__item {
  width: 364px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3.2rem;
}
.layout__step {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.layout__img {
  width: 100px;
  height: 100px;
  margin-bottom: 3.9rem;
  margin-top: 3rem;
}
.layout__descrip {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 20px;
}
.layout__span {
  border-radius: 2px;
  background-color: #3b79c3;
  color: #ffffff;
}

.tips {
  background-color: #ffffff;
  color: #333333;
}
.tips__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 9.9rem;
  padding-bottom: 8.7rem;
  padding-left: 14.4rem;
  padding-right: 14.4rem;
}
.tips__title {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 4rem;
}
.tips__info {
  display: flex;
  justify-content: center;
}
.tips__list {
  display: flex;
  justify-content: center;
  gap: 5.8rem;
}
.tips__img {
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.2);
}
.tips__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 1.3rem;
  margin-top: 3rem;
}
.tips__description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
}

.footer__nav {
  background-color: #6b6b6b;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer__nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav ul {
  display: flex;
}
.footer__nav ul li:not(:last-child) {
  margin-right: 4rem;
}
.footer__nav ul a {
  color: #ffffff;
}

.only {
  background-color: #000000;
  color: #777777;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.only__description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;
}/*# sourceMappingURL=mian.css.map */