*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: flex;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(133, 133, 133);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.664);
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $white-color;
  line-height: 1.6;
  background-color: $light-bg;
  font: {
    size: 1.5rem;
    family: $main-font-family;
  }
}
.container {
  width: 100%;
  max-width: 1252px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
